<form class="form-inline" id="form_goal">
  <div class="form-group">
    <label for="goal">Goal</label>
    <div class="input-group">
      <input type="text" class="form-control" id="goal" placeholder="Set Your Goal Here" />
      <div class="input-group-addon">KG</div>
      </div>
  </div>
  <button type="submit" class="btn btn-primary">Set</button>
</form>