<form class="form-inline" id="form_goal">
  <div class="form-group">
    <label for="goal">Goal</label>
    <input type="text" class="form-control" id="goal" placeholder="Set Your Goal Here">
  </div>
  <button type="submit" class="btn btn-default">Set</button>
</form>