<table class="table table-striped" id='history_table'>
  <caption>Your weight scale history.</caption>
  <thead>
    <tr>
     <th width="35%">Date</th>
     <th>Weight (KG)</th>
     <th width="35%">Actions</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>